<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
    <ion-buttons routerLink="/perfil" routerDirection="back" class="voltar" slot="end">
      <ion-button>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container ion-text-center titulo">
    <span>
        Adicionar Novo Perfil
    </span>
  </div>


  <form class="forms" #fc="ngForm" (ngSubmit) = "onSubmit(fc)">
    <ion-item>
      <ion-input name="data.fullName" [(ngModel)]="data.fullName" type="text"  pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" minlength="4" required placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="data.birthDate" [(ngModel)]="data.birthDate"  type="date" required placeholder="Idade"></ion-input>
    </ion-item>
    <ion-select type="text"  name="data.gender" [(ngModel)]="data.gender"  required placeholder="Sexo">
      <ion-select-option>Masculino</ion-select-option>
      <ion-select-option>Feminino</ion-select-option>
      <ion-select-option>Outros</ion-select-option>
      <ion-select-option>Prefiro não dizer</ion-select-option>
  </ion-select>
    
    <ion-select type="text"  name="data.familyRelationship" [(ngModel)]="data.familyRelationship"  required placeholder="Parentesco">
        <ion-select-option>Pai/Mãe</ion-select-option>
        <ion-select-option>Filho/Filha</ion-select-option>
        <ion-select-option>Tio/Tia</ion-select-option>
        <ion-select-option>Avô/Avó</ion-select-option>
        <ion-select-option>outros</ion-select-option>
    </ion-select>
    <ion-item>
      <ion-input  type="password" name="data.pin" [(ngModel)]="data.pin"   minlength="3" maxlength="6" required pattern="[0-9]+$"  required placeholder="PIN"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password"   minlength="3" maxlength="6" pattern="[0-9]+$" required placeholder="Confirme o PIN"></ion-input>
    </ion-item>
   
  </form>
  
  
  <ion-button (click)="new()"  class="ion-text-center btnSeguir">Adicionar</ion-button>

</ion-content>
