<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
    <img (click)="refresh()" class="reload" src="assets/recarregar.svg">
    <ion-buttons (click)="exit()" class="voltar" slot="end">
      <ion-button>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <img routerLink="/new-profile" routerDirection="forward" class="add" src="assets/add.svg">
  </ion-fab>

  <div *ngFor="let p of profiles">
    <ion-button   class="ion-button ion-text-center btnadd">
      <p>{{p.firstName}}</p>
    </ion-button>
  </div>"


</ion-content>

<style>
  .reload {
    width: 10%;
    margin-left: 25%;

  }
</style>