<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
    <img (click)="refresh()" class="reload" src="assets/recarregar.svg">
    <ion-buttons (click)="exit()" class="voltar" slot="end">
      <ion-button>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

 <ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <img (click)="addperfil()" class="add" src="assets/add.svg"> 
</ion-fab>
 
 <div *ngFor="let membro of membro">
      <ion-button (click)="home(membro)" class="ion-button ion-text-center btnadd" >
        <p>{{membro.nome}}</p>
      </ion-button >
 </div>"
 

</ion-content>

<style>
  .reload{ 
    width: 10%;
    margin-left: 25%;
    
  }

</style>