<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
    <ion-buttons routerLink="/parental" routerDirection="back" class="voltar" slot="end">
      <ion-button>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container ion-text-center titulo">
    <span>
      Conta Infantil
    </span>
  </div>

  <div class="ion-text-center phone">
    <img src="assets/phone.svg">
  </div>
  <div class="ion-text-center menina">
    <img src="assets/menina.svg">
  </div>
  <div class="ion-text-center mae">
    <img src="assets/mae.svg">
  </div>

  <div>
    <span class="ion-text-center instrucoes">
      Peça para seu responsável legal ler as instruções.
    </span>
  </div>

  <div>
    <span class="ion-text-center regra">
      Quando uma criança concluir uma tarefa informações serão enviadas ao celular cadastrado na conta
      MyFamily de um dos pais ou tutor legal.
    </span>
  </div>

  <ion-button routerLink="/kid-singup" class="ion-text-center btnSeguir">Próximo</ion-button>

</ion-content>