
.logo{

    margin-left: 2%;
    width: 30%;
    margin-top: 2%;
   
}

.voltar{

font-family: lato;
color: #FAFF03;
}

.titulo{

position: absolute;
left: 0;
right: 0;
bottom: 89%;
font-family: lato;
font-size: 22px;
font-weight: bold;
color: #515151;

}

.phone{

position: absolute;
left: 0;
right: 0;
bottom: 60%;


}
.menina{

position: absolute;
left: 0;
right: 60%;
bottom: 60%;

}

.mae{

position: absolute;
left: 60%;
right: 0;
bottom: 60%;

}

.instrucoes{

position: absolute;
left: 12%;
right: 0;
bottom: 45%;
width: 77%;
font-family: lato;
font-size: 17px;
color: #515151;


}

.regra{

position: absolute;
left: 12%;
right: 0;
bottom: 26%;
width: 78%;
font-family: lato;
font-size: 17px;
color: #515151;

}

.btnSeguir{

position: absolute;
left: 5%;
right: 0;
width: 90%;
bottom: 13%;
}