.logo{

    margin-left: 2%;
    width: 100px;
    margin-top: 2%;
   
}
.voltar{

    font-family: lato;
    color: #FAFF03;
}

.titulo{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 89%;
    font-family: lato;
    font-size: 22px;
    font-weight: bold;
    color: #515151;

}

.forms{

    position: absolute;
    left: 7%;
    right: 0;
    bottom: 60%;
    width: 85%;
    
}

.btnSeguir{

    position: absolute;
    left: 5%;
    right: 0;
    width: 90%;
    bottom: 40%;
}

.p1{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 76%;
    font-family: lato;
    font-size: 14px;
    color: #515151;

}

.p2{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    font-family: lato;
    font-size: 14px;
    color: #515151;

}