
.logo{

    margin-left: 2%;
    width: 30%;
    margin-top: 2%;
   
}
.voltar{

    font-family: lato;
    color: #FAFF03;
}

.titulo{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 89%;
    font-family: lato;
    font-size: 22px;
    font-weight: bold;
    color: #515151;

}

.instrucoes{

    position: absolute;
    left: 8%;
    right: 0;
    bottom: 73%;
    width: 85%;
    font-family: lato;
    font-size: 17px;
    color: #515151;
}

.core{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;


}
.menina{

    position: absolute;
    left: 0;
    right: 60%;
    bottom: 50%;

}

.mae{

    position: absolute;
    left: 60%;
    right: 0;
    bottom: 50%;

}

.contaNew{

    position: absolute;
    left: 8%;
    right: 0;
    bottom: 33%;
    width: 85%;
    font-family: lato;
    font-size: 17px;
    color: #515151;

}

.btnLogin{

    position: absolute;
    left: 5%;
    right: 0;
    width: 90%;
    bottom: 20%;
}

.btnCadastro{

    position: absolute;
    left: 5%;
    right: 0;
    width: 90%;
    bottom: 11%;
}


