
.logo{

    margin-left: 2%;
    width: 30%;
    margin-top: 2%;
   
}
.voltar{

    font-family: lato;
    color: #FAFF03;
}

.titulo{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 89%;
    font-family: lato;
    font-size: 22px;
    font-weight: bold;
    color: #515151;

}
.forms{

    position: absolute;
    left: 7%;
    right: 0;
    bottom: 35%;
    width: 85%;
    
}

.termos{

    position: absolute;
    left: 8%;
    right: 0;
    bottom: 25%;
    width: 85%;
    font-family: lato;
    font-size: 17px;
    color: #515151;
}

.btnSeguir{

    position: absolute;
    left: 5%;
    right: 0;
    width: 90%;
    bottom: 10%;
}

.policy{ 
    
    position: absolute;
    left: 8%;
    right: 0;
    bottom: 20%;
    width: 85%;
    font-family: lato;
    font-size: 17px;
    color: #ff1414;
}